<!-- Modal:LinkTree -->
<div id="links" class="modal profile-modal">
    <section class="flex flex-col items-center justify-center py-12 space-y-4">
        <h1 class="text-4xl md:text-5xl font-rubik font-bold text-white" style="text-shadow: -2px 7px 13px rgba(0, 0, 0, 0.19);">Links</h1>

        <div class="grid md:grid-cols-2 w-full gap-4 pt-8">
            <a href="https://soundcloud.com/rafly_maulana" class="bg-yellow-400 btn w-full text-center sm:text-left border-b-4 rounded-3xl py-3 px-6 font-rubik font-bold text-white border-yellow-500 flex justify-start items-center md:flex-col md:items-start md:h-32">
                <i class="fab fa-soundcloud pr-3 text-3xl"></i>
                <span>Soundcloud</span>
            </a>

            <a href="https://open.spotify.com/artist/7AT29mk5bZImdbEgdp7w2q" class="bg-green-500 btn w-full text-center sm:text-left border-b-4 rounded-3xl py-3 px-6 font-rubik font-bold text-white border-green-600 flex justify-start items-center md:flex-col md:items-start md:h-32">
                <i class="fab fa-spotify pr-3 text-3xl"></i>
                <span>Spotify</span>
            </a>

            <a href="https://www.youtube.com/channel/UCswhauY4r6p3RXgKsVnOlnQ" class="bg-red-500 btn w-full text-center sm:text-left border-b-4 rounded-3xl py-3 px-6 font-rubik font-bold text-white border-red-600 flex justify-start items-center md:flex-col md:items-start md:h-32">
                <i class="fab fa-youtube pr-3 text-3xl"></i>
                <span>Youtube</span>
            </a>

            <a href="https://discord.com/users/231721153444446208" class="bg-blue-700 btn w-full text-center sm:text-left border-b-4 rounded-3xl py-3 px-6 font-rubik font-bold text-white border-blue-800 flex justify-start items-center md:flex-col md:items-start md:h-32">
                <i class="fab fa-discord pr-3 text-3xl"></i>
                <span>Discord</span>
            </a>
        </div>
    </section>
</div>

<!-- Scroll Top -->
<section id="scrollToTop" class="fixed bottom-10 right-10 hidden" style="z-index: 999999999999;">
    <a href="#" class="w-14 h-14 flex items-center justify-center rounded-full border-b-4 drop-shadow-md transform hover:scale-105 duration-200 ease-in bg-blue-300 border-blue-400 text-white btn">
        <i class="fa fa-chevron-up text-2xl m-auto"></i>
    </a>
</section>

<script src="/assets/js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>

<script src="/assets/js/kutty.min.js"></script>
<script src="/assets/js/ztext.min.js"></script>
<script src="/assets/js/fontawesome.all.min.js"></script>
<script src="/assets/js/rellax.min.js"></script>
<script src="/assets/js/raflymaulana.js"></script>