<div class="flex flex-row items-center justify-center text-3xl mt-3 space-x-6 text-blue-900">
    <a href="/social/github" data-social="github" class="opacity-70 hover:opacity-80">
        <i class="fab fa-github-square"></i>
    </a>
    <a href="/social/twitter" data-social="twitter" class="opacity-70 hover:opacity-80">
        <i class="fab fa-twitter-square"></i>
    </a>
    <a href="/social/linkedin" data-social="linkedin" class="opacity-70 hover:opacity-80">
        <i class="fab fa-linkedin"></i>
    </a>
    <a href="/social/dribbble" data-social="dribbble" class="opacity-70 hover:opacity-80">
        <i class="fab fa-dribbble-square"></i>
    </a>
    <a href="/social/instagram" data-social="instagram" class="opacity-70 hover:opacity-80">
        <i class="fab fa-instagram-square"></i>
    </a>
</div>
<div class="flex flex-row items-center justify-center mt-4 space-x-6 text-blue-900">
    <a onclick="openLinks()" class="opacity-70 cursor-pointer text-base font-bold font-rubik hover:opacity-80 text-center">
        Others
    </a>
</div>