<nav id="navigation" class="w-full text-black op absolute top-0 left-0 py-1 bg-blue-300 ease-linear !z-[9999999]">
    <div class="container max-w-screen-xl mx-auto px-6 lg:px-8 py-3">
        <div class="flex items-center justify-between">
            <div class="w-10 h-10 illustration">
                <a class="text-xl font-bold md:text-2xl" href="/">
                    <span id="logo" class="m-auto animate__animated overflow-visible">
                        <svg class="h-8 w-10 cursor-pointer hover:opacity-80" width="113" height="107"
                            viewBox="0 0 113 107" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M59.1132 29.5566C59.1132 45.881 45.881 59.1132 29.5566 59.1132C13.2323 59.1132 0 45.881 0 29.5566C0 13.2323 13.2323 0 29.5566 0C45.881 0 59.1132 13.2323 59.1132 29.5566Z"
                                fill="#F4F7F9" />
                            <path
                                d="M29.5566 40.9245C35.8349 40.9245 40.9246 35.8349 40.9246 29.5566C40.9246 23.2783 35.8349 18.1887 29.5566 18.1887C23.2784 18.1887 18.1887 23.2783 18.1887 29.5566C18.1887 35.8349 23.2784 40.9245 29.5566 40.9245Z"
                                fill="#292F33" />
                            <path data-logo-mouth="calm" class="block"
                                d="M28.2303 71.5778C28.4029 72.2644 32.7101 88.3732 56.9385 88.3732C81.1709 88.3732 85.4742 72.2644 85.6468 71.5778C85.8578 70.7455 85.4819 69.8826 84.7378 69.453C83.9899 69.0273 83.0541 69.1538 82.4366 69.7483C82.3637 69.8212 74.9421 76.8669 56.9385 76.8669C38.935 76.8669 31.5096 69.8212 31.4405 69.7522C31.0723 69.3878 30.5814 69.196 30.0905 69.196C29.7683 69.196 29.4423 69.2766 29.1469 69.4415C28.3952 69.871 28.0193 70.7417 28.2303 71.5778Z"
                                fill="#04080F" />
                            <path data-logo-mouth="smile" class="hidden"
                                d="M56.2268 73.8693C44.2714 73.8693 36.3386 72.5086 26.5282 70.6449C24.2876 70.2225 19.9285 70.6449 19.9285 77.0938C19.9285 89.9914 35.0913 106.114 56.2268 106.114C77.359 106.114 92.525 89.9914 92.525 77.0938C92.525 70.6449 88.166 70.2193 85.9254 70.6449C76.1149 72.5086 68.1821 73.8693 56.2268 73.8693Z"
                                fill="#04080F" />
                            <path
                                d="M112.453 29.5566C112.453 45.881 99.2212 59.1132 82.8968 59.1132C66.5725 59.1132 53.3402 45.881 53.3402 29.5566C53.3402 13.2323 66.5725 0 82.8968 0C99.2212 0 112.453 13.2323 112.453 29.5566Z"
                                fill="#F4F7F9" />
                            <path
                                d="M82.897 40.9245C89.1753 40.9245 94.2649 35.8349 94.2649 29.5566C94.2649 23.2783 89.1753 18.1887 82.897 18.1887C76.6187 18.1887 71.5291 23.2783 71.5291 29.5566C71.5291 35.8349 76.6187 40.9245 82.897 40.9245Z"
                                fill="#292F33" />
                        </svg>
                    </span>
                </a>
            </div>

            <div class="flex flex-col lg:items-center md:flex-row space-y-0 my-2 md:my-0">
                <a class="hover:opacity-80 cursor-pointer font-rubik font-bold text-sm hidden lg:block transform hover:scale-105 duration-200 ease-in"
                    href="#contact" onclick="animateSocial();">Reach Me</a>
                <div class="relative group md:mx-4 md:my-0 transform hover:scale-105 duration-200 ease-in"
                    x-data="{open: false}">
                    <a @click="open = !open" @click.away="open = false"
                        class="text-sm font-medium hover:opacity-80 cursor-pointer">
                        <svg class="w-6 h-6 fill-current" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 384.97 384.97">
                            <path
                                d="M12.03 120.303h360.909c6.641 0 12.03-5.39 12.03-12.03 0-6.641-5.39-12.03-12.03-12.03H12.03c-6.641 0-12.03 5.39-12.03 12.03s5.39 12.03 12.03 12.03zM372.939 180.455H12.03c-6.641 0-12.03 5.39-12.03 12.03s5.39 12.03 12.03 12.03h360.909c6.641 0 12.03-5.39 12.03-12.03s-5.389-12.03-12.03-12.03zM372.939 264.667H132.333c-6.641 0-12.03 5.39-12.03 12.03 0 6.641 5.39 12.03 12.03 12.03h240.606c6.641 0 12.03-5.39 12.03-12.03.001-6.641-5.389-12.03-12.03-12.03z" />
                        </svg>
                    </a>

                    <div x-show="open" @click.away="open = false"
                        class="absolute z-10 mt-3 bg-grey-200 block w-max right-0">
                        <div
                            class="p-4 bg-white w-40 shadow-lg rounded-md text-sm font-medium blend-screen text-blue-900 mt-1">
                            <div class="grid grid-cols-1 gap-2 space-y-2">
                                <a class="hover:opacity-80 cursor-pointer" href="#about">About Me</a>
                                <a class="hover:opacity-80 cursor-pointer" href="#projects">My Works</a>
                                <a class="hover:opacity-80 cursor-pointer" href="#contact"
                                    onclick="animateSocial();">Contact</a>
                                <a class="hover:opacity-80 cursor-pointer"
                                    href="https://notion.raflymaulana.me">Notion</a>
                                <a class="hover:opacity-80 cursor-pointer"
                                    href="https://notion.raflymaulana.me/tasks">Task Lists</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>