@tailwind base;
@tailwind components;

html,
body {
    @apply relative overflow-x-hidden;
}

::selection {
    @apply bg-blue-300 text-white;
}

* {
    scroll-behavior: smooth;
}

img {
    pointer-events: none;
}

.jquery-modal {
    z-index: 9999999999 !important;
}

.links-modal {
    @apply bg-blue-300 rounded-3xl border-b-4 py-12 border-blue-400 drop-shadow-lg !important;
}

.links-modal > section > h1 {
    text-shadow: -2px 7px 13px rgba(0, 0, 0, 0.19);
}

.btn {
    @apply ease-in duration-200 cursor-pointer hover:border-b-0 transform hover:translate-y-1;
    filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.2));
}

.btn:hover {
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0)) !important;
}

.illustration {
    @apply ease-in duration-200 cursor-pointer transform hover:scale-105;
    filter: drop-shadow(11px 11px 16px rgba(0, 0, 0, 0.2));
}

.illustration:hover {
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.2));
}

.cloud-slow {
    @apply w-[180px];
    animation-duration: 9.5s;
}

.cloud-slower {
    @apply w-[210px];
    animation-duration: 11.2s;
}

.cloud-slowest {
    @apply w-[145px];
    animation-duration: 13.5s;
}

.cloud-super-slow {
    @apply w-[295px];
    animation-duration: 20.5s;
}

#navigation {
    transition: background-color 500ms linear;
}

#cta > a > div > section > h1,
#cta > a > div > section > img {
    @apply ease-in duration-75;
    filter: drop-shadow(11px 11px 16px rgba(0, 0, 0, 0.212));
}

#circle-left {
    @apply w-[515px] h-[515px];
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.21), inset -4px -6px 4px rgba(117, 172, 226, 1);
}

#circle-right {
    @apply w-[333px] h-[333px];
    box-shadow: -4px 8px 15px rgba(0, 0, 0, 0.25), inset 4px -8px 4px rgba(205, 179, 112, 1);
}

#head-title {
    filter: drop-shadow(-5px 5px 3px rgba(78, 78, 78, 0.08));
}

#project-list div #right {
    @apply h-[350px] w-[630px] rounded-[60px] border-[6px] border-white bg-cover bg-top;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

#project-list div #right #blocker {
    @apply rounded-[60px];
}

@media screen and (max-width: 768px) {
    #project-list div #right {
        @apply rounded-3xl h-72 w-auto;
    }
    #project-list div #right #blocker {
        @apply rounded-3xl;
    }
    .about-box {
        filter: drop-shadow(11px 11px 16px rgba(0, 0, 0, 0.2));
    }
}

@tailwind utilities;
@tailwind screens;
