/* CONFIG */

:root {
    --white: #F3F4F5;
    --yellow: #eebe6b;
    --main-bg-color: #2c243c;
}


/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* MAIN */

html,
body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    font-family: 'Raleway', sans-serif;
}

*:focus,
*:active {
    outline: none;
}


/* HEADER */

header {
    height: 100%;
    width: 100%;
    padding: 20px 0px;
    background-image: url(../img/header-bg.png);
    background-position: center top;
    background-size: cover;
    background-attachment: initial;
    position: relative;
}

header canvas {
    display: block;
}

header #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    top: 0px;
}

header #canvas {
    width: 100%;
    position: absolute;
    top: 0px;
}

header .main {
    height: 70%;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: none;
    position: absolute;
    z-index: 2;
    text-align: center;
}

header .main h1 {
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 800;
    margin: 20;
    margin-bottom: 0px !important;
}

header .main h1 span {
    color: var(--yellow);
}

header .main a button {
    font-weight: 700 !important;
    cursor: pointer;
    border: none;
    background: #334964;
    color: #ffffff !important;
    padding: 15px 35px;
    text-transform: uppercase;
    border-radius: 50px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

header .main a button:hover {
    letter-spacing: 3px;
    color: #334964 !important;
    background: none;
    box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
}

header .main a {
    color: var(--main-bg-color) !important;
    text-decoration: none;
    font-weight: bold;
}


/* MAIN */

main {
    height: 100%;
    width: 100%;
    background-color: var(--main-bg-color);
    position: relative;
}

main .main {
    min-height: 80%;
    min-width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: none;
    position: relative;
}

main .main .card {
    width: 60%;
    color: var(--main-bg-color);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
}

main .main .card .blop1 {
    height: 120;
    position: absolute;
    z-index: 999;
    bottom: -75;
    right: -35;
    margin: 0;
    padding: 0;
    font-size: 45px;
    -webkit-filter: drop-shadow(5px 5px 5px #131212);
    filter: drop-shadow(5px 5px 5px #131212);
}

main .main .card .blop2 {
    height: 120;
    position: absolute;
    z-index: 999;
    top: -10;
    left: -20;
    margin: 0;
    padding: 0;
    font-size: 45px;
    -webkit-filter: drop-shadow(5px 5px 5px #131212);
    filter: drop-shadow(5px 5px 5px #131212);
}

main .main .card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 20px;
    box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.671);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.671);
}

main .main .card .left {
    flex: 20%;
    align-items: center;
    background: url(../img/header-bg.png);
    background-position: center;
    background-size: cover;
    border-radius: 5px 0 0 5px;
}

main .main .card .left img {
    -webkit-filter: drop-shadow(5px 5px 5px #222222);
    filter: drop-shadow(5px 5px 5px #222222);
}

main .main .card .right {
    flex: 70%;
    text-align: left !important;
    background-color: var(--white);
    border-radius: 0 5px 5px 0;
}

main .main .card .right h5 {
    margin: 0%;
    color: rgba(36, 33, 33, 0.61);
}

main .main .card .right h2 {
    margin: 0%;
}

main .main .card .right span:first-child {
    color: rgb(201, 133, 6);
}

main .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    overflow: hidden;
    line-height: 0;
}

main .footer path {
    fill: #292c2f;
}


/* FOOTER */

footer {
    position: relative;
    overflow: hidden;
    background-color: #292c2f;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 55px 50px;
    color: #fff !important;
}

footer section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 40%;
    padding: 0 30px;
}

footer .left ul {
    padding: 0;
}

footer .left ul li {
    display: inline;
    color: orange;
    cursor: pointer;
    transition: 0.8s;
}

footer .left ul li:hover {
    opacity: 0.8;
}

footer .left ul li:not(:last-child):after {
    content: ' |';
    color: white !important;
}

footer .left h4 {
    margin-top: 0;
    font-weight: 400 !important;
}

footer .left p {
    margin-bottom: 0;
    font-weight: 700 !important;
}

footer .left .love {
    font-size: 15px;
    background: rgb(32, 26, 26);
    padding: 5px;
}

footer .right .copyright {
    margin-top: 25px;
    text-align: left;
    font-weight: bold;
}

footer .right .social {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left !important;
    padding: 0;
    margin: 0;
}

footer .right .social>div {
    padding: 10px 25px;
    background: rgba(0, 0, 0, 0.158);
    margin: 10 10 0 0;
    flex-grow: 1;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-align: left !important;
    display: inline;
}

footer .right .social>div:hover {
    letter-spacing: 3px;
    color: #fff !important;
    background: none;
    box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
}

footer .right .social>div i {
    margin-right: 5px;
}

footer .right .social>div span {
    font-weight: 500;
    letter-spacing: 0.5px;
}

@media screen and (max-width: 768px) {
    footer .right .social {
        flex-direction: column;
    }
    footer .right .social>div {
        margin: 5 0 !important;
        width: 80%;
    }
}


/* TOOLTIP */

[data-title] {
    position: relative;
    cursor: pointer;
}

[data-title]:hover::before {
    content: attr(data-title);
    position: absolute;
    z-index: 999;
    bottom: -26px;
    left: -.5px;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 2px;
    background: #000;
    color: #fff;
    font-size: 12px;
    font-family: sans-serif;
    white-space: nowrap;
}

[data-title]:hover::after {
    content: '';
    position: absolute;
    bottom: -10px;
    z-index: 999;
    left: 8px;
    display: inline-block;
    color: #fff;
    border: 8px solid transparent;
    border-bottom: 8px solid #000;
}


/* ANIMATION CSS */

.fadein {
    animation: fadein 2s ease-out 0s;
}

.slideup {
    animation: slideup 1.5s ease-out 0s;
}

.float {
    animation: float 6s ease-in-out infinite;
}


/* ANIMATION KEYFRAMES */

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-10px);
    }
    100% {
        transform: translatey(0px);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideup {
    0% {
        opacity: .5;
        -webkit-transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}